.recent-work {
  width: 60%;
  margin: 0 20px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      padding: 0 20px;
    }

    @media (max-width: 800px) {
      width: 100%;
    }
  }
}
