.intro {
  box-shadow: 3px -3px 5px 5px whitesmoke;
  border-bottom: 2px solid #101010aa;
  border-bottom-right-radius: 3%;
  margin: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 1.5em;
  text-align: center;
  svg {
    width: 400px;
  }
  .profile-pic {
    background: url("../../assets//profile-pic.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 50%;
    width: 600px;
    height: 300px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    &:hover {
      animation: zoom 3s 1;
    }
  }
  @media (max-width: 800px) {
    flex-direction: column;
    margin: unset;
    padding: unset;
    box-shadow: unset;
    border-bottom-right-radius: unset;
    border: 2px solid black;
    svg {
      width: 200px;
    }

    .profile-pic {
      width: 300px;
      height: 300px;
    }
  }
}

@keyframes zoom {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 125% 125%;
  }
}
